* {
    box-sizing: border-box;
}
:root {
    font-size: 15px;
}
body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    width: 100vw;
    text-align:center;
    background-color:hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
}
.container {
    margin: auto;
    max-width: 375px;
}

.card{
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    border-radius: 1.4em;
    padding: 1.2rem 1.3rem;
    background-color: #fff;
}
img:only-of-type {
    max-width: 100%;
    border-radius: .7rem;
}
p{
    font-size: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color:hsl(220,15%,55%);
    margin: 0 .5rem 1.5rem 0.5rem;
}
h1{
    font-size: 1.5rem;
    color:hsl(219,44%,22%);
    font-weight: 700;
    margin: .3rem .5rem 0 .5rem;
}
a:link {
    color: hsl(212, 45%, 89%);
}
