<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./style.css" media="all">
    <title></title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <main>
            <section>
                <h1></h1>
                <div class="cards"></div>
            </section>
            <section>
                <h1></h1>
                <div class="cards"></div>
            </section>
        </main>
        <footer>
            <div class="internal-links">
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="socials">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div class="acknowledge">
                <small>Inspired by <span id="muse">Sarah dyan</span></small>
            </div>
        </footer>
    </div>
</body>
</html>
